.App {
  text-align: center;
}

.appButton
{
  outline: none;
  border: 0vh;
  color: #fff;
  background-color:#22af73;
  text-transform: uppercase;
  padding: 5px;
  height: 30px;
  width: 70px;
  margin:40px 0 40px 20px;
  text-align: center;
  cursor: pointer;
  
}
.content
{
display: grid;
grid-template-columns:40% 30% 30%; 
 
}
.name_h,.phone_h
{
  
  margin: 10px 0 25px 20px;
  text-transform: uppercase;
  color:#888888;
  font-weight: bold;
}
.name,.phone{
  margin: 10px 0 15px 20px;
}
.deletebtn
{
  outline: none;
  border: 0vh;
  color: #000;
  margin-top: 3px;
  background-color:	#FA8072;
  text-transform: uppercase;
  padding: 5px;
  height: 30px;
  width: 70px;
  cursor: pointer;
}
